@font-face {
	font-family: NeoSmall;
	src: url('NeoSmall.ttf');
}
@font-face {
	font-family: NeoMedium;
	src: url('NeoMedium.ttf');
}
@font-face {
	font-family: NeoLarge;
	src: url('NeoLarge.ttf');
}
body {
	background-color: #536c6a; /* Neo2 #383e4a */
}
textarea {
	resize: none;
	width: 622px;
	height: 150px;
	margin: 220px 0;
	padding: 4px;
	color: #555;
	background-color: #a4b99f;
	border-radius: 6px;
	border-color: rgba(0,0,0,0.6);
	box-shadow: inset 0 0 10px black, 0 0 100px rgba(0,0,0,0.6);
	overflow: hidden;
}
::selection {
	background-color: #777; /* Not sure why #555 is too dark */
	color: #a4b99f;
}
::-moz-selection {
	background-color: #555;
	color: #a4b99f;
}
textarea:focus {
	outline: none;
}
textarea.small {
	font-family: NeoSmall;
	font-size: 30pt;
	line-height: 24px;
}
textarea.medium {
	font-family: NeoMedium;
	font-size: 30pt;
	line-height: 28px;
}
textarea.large {
	font-family: NeoLarge;
	font-size: 30pt;
	line-height: 36px;
}
.hidden {
	display: none;
}
table {
	margin: 30px auto;
	background-image: url('NeoBase.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center; 
}
.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}